@font-face {
  font-family: 'Raleway';
  src: url('/assets/raleway/Raleway-Light-Compact.woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'Raleway';
  src: url('/assets/raleway/Raleway-Regular-Compact.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Raleway';
  src: url('/assets/raleway/Raleway-Bold-Compact.woff2');
  font-weight: 600;
}


// Import partials.
@import
  "main/base",
  "main/header",
  "main/brand",
  "main/navbar",
  "main/homepage",
  "main/article",
  "main/footer",
  "main/rainbow"
;

$fa-font-path: "/assets/fa";
@import "fontawesome/fa-used.scss";