article {
	position: relative;
	padding: 6em;
	background: #3a444a;
	text-align: left;
    color: #fff;
    letter-spacing: 0.04em;
    line-height: 1.5em;
    font-family:'Raleway', sans-serif;
    font-weight: 300;
}
article h1 {
    padding-bottom: 0.25em;
    font-size: 2em;
    font-weight: 400;
}
article h2 {
    font-size: 1.2em;
    font-weight: 300;
}
article h3 {
    padding-bottom: 1em;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    font-size: 1.5em;
    font-weight: 400;
}
article p {
    margin: 1em 0 2em 0;
}
article a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
    color: #bec9cf;
    text-decoration: none;
}
article a:hover {
    border-bottom-color: transparent;
    color: #ffffff !important;
}

article code {
    background: rgba(255, 255, 255, 0.025);
    border-radius: 5px;
    border: solid 2px rgba(255, 255, 255, 0.125);
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}
article hr {
    margin-bottom: 2em;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}

article b {
    font-weight: 600;
}