pre {
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding: 18px;
    margin: 8px;
    background-color: white;
}

a {
    color: #888888;
    text-decoration: none;
}

pre>hr{
    margin: 0;
}